Node-Red Fan and LED.txt
[{"id":"894a7f50.bedd2","type":"exec","z":"d2ed3b1a.392b58","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":true,"timer":"","name":"What the temp","x":300,"y":220,"wires":[["90b2ebb3.38dba8"],[],[]]},{"id":"f0e9755f.28eea8","type":"inject","z":"d2ed3b1a.392b58","name":"1 minute","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":"","x":100,"y":220,"wires":[["894a7f50.bedd2"]]},{"id":"90b2ebb3.38dba8","type":"function","z":"d2ed3b1a.392b58","name":"Fan Control","func":"var msg1 = {};\nmsg1.payload = 0;\n\n// Get temp\nvar Temperature = msg.payload.slice(5, -2);     // remove the first letters and last two\nTemperature = parseFloat(Temperature);   // convert to floating variable\nmsg.payload = Temperature;\nmsg.topic = \"Temperature_value\";\n\n// turn off ?\nif (Temperature < 37) {\n    msg1.payload = 0;\n    return [msg, msg1];\n}\n\n// turn on ?\nif (Temperature > 35) {\n    msg1.payload = 1;\n    return [msg, msg1];\n}\n","outputs":2,"noerr":0,"x":490,"y":160,"wires":[["cd8aad8b.dccb"],["60ab6b3.58c0594","3dac946e.f4ee7c"]]},{"id":"60ab6b3.58c0594","type":"rpi-gpio out","z":"d2ed3b1a.392b58","name":"Fan","pin":"11","set":"","level":"0","freq":"","out":"out","x":670,"y":160,"wires":[]},{"id":"cd8aad8b.dccb","type":"debug","z":"d2ed3b1a.392b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":80,"wires":[]},{"id":"dff4dd76.796df","type":"rpi-gpio out","z":"d2ed3b1a.392b58","name":"Green LED","pin":"18","set":true,"level":"0","freq":"","out":"out","x":690,"y":340,"wires":[]},{"id":"c1679cc4.762c2","type":"inject","z":"d2ed3b1a.392b58","name":"","topic":"","payload":"1","payloadType":"num","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["dff4dd76.796df","61cf7578.636fbc"]]},{"id":"61cf7578.636fbc","type":"delay","z":"d2ed3b1a.392b58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":360,"wires":[["5cf301e2.ab0db"]]},{"id":"5cf301e2.ab0db","type":"function","z":"d2ed3b1a.392b58","name":"LED Off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["dff4dd76.796df"]]},{"id":"3dac946e.f4ee7c","type":"rpi-gpio out","z":"d2ed3b1a.392b58","name":"Red LED","pin":"22","set":true,"level":"0","freq":"","out":"out","x":680,"y":280,"wires":[]}]
